.desktopNavigationWrapper {
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	background-color: #b5d5d1;
}

.navigationLogotype {
	width: 90px;
	grid-column: 3/4;
	padding: 2%;
}

.signInButton, .profile  {
	grid-column: 16/16;
	cursor: pointer;
  color: rgb(210, 237, 255);
  font-weight: 550;
  font-family: 'Roboto', sans-serif;
  padding: 6%;
}

.desktopNavigationTabs {
	grid-column: 7/9;
	align-items: center;
	justify-self: center;
}
 